<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenMacroBoard.SDK" version="3.0.0" targetFramework="net472" />
  <package id="OpenMacroBoard.VirtualBoard" version="4.1.0" targetFramework="net472" />
  <package id="SharpDX" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.DirectInput" version="4.2.0" targetFramework="net472" />
  <package id="StreamDeckSharp" version="3.0.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net472" />
</packages>